@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(article: models.hibernateModels.TextArticle,author: List[User])

@import helper._

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Edit Article - Fade2Karma") {
	@header()
	<div _ngcontent-c1="" class="F2K-column">
    	<div _ngcontent-c1="" class="clearfix featured" style="margin-bottom: 40px">
    	<br>
    		<h1 style="text-align:center;">Edit or create Article</h1>
    		<br><br>
			<form  action="/api/articles/edit" method="post">
			@CSRF.formField
			<div style="text-align:center">
			<input type="hidden" name="id" value="@if(article != null &&article.id == null) {-1} else {@article.id}">
			<input type="hidden" name="rating" value="@if(article != null &&article.rating == null) {0} else {@article.rating}">
			<!--  <input type="hidden" name="author.id" value="0">-->
			Title: <input name="title" value="@article.title"> <br><br>
			Image: <input name="imageURL" value="@article.imageURL"><br><br>
			<select id="typee" name="type">
    			@for(t <- Article.ArtType.values()){
        			<option value="@t.toString()"  @if(article != null && article.getTheType() != null && article.getTheType().toString().equals(t.toString())) {selected}>@t.toString().toLowerCase()</option>
    			}
			</select><br><br>
			<select id="beep" name="author.id">
			@if(article.author !=null && author != null) {
    			@for(a <- author){
        			<option value="@a.id" @if(article.authorID == a.id) {selected}>@a.username</option>
    			}
    		} else {
    			   @for(a <- author){
        			<option value="@a.id" @if("Fade2Karma".equals(a.username)) {selected}>@a.username</option>
    			}
    		}
			</select><br><br>
			<select name="game" >
			<option value="HS" selected>Hearthstone</option>
			<option value="GWENT">Gwent</option>
			</select>
			<br><br>
            <textarea name="content" id="editor1" rows="10" >
                <p class="b1">@article.content</p>
            </textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor1', {
		 			extraAllowedContent: 'b i img'
				});
                @if(article.getTheType() != null) {
                	$("#typee").val("@article.getTheType().toString()");
                }
            </script>
            </div>
           
			<input type="checkbox" name="featured" value="1">Make featured (unfeatures other articles)<br>

            <button name="published" value="0" type="submit">Preview (unpublishes)</button>
            <button name="published" value="1" type="submit">Submit</button>
            <a href="/"><button>Cancel</button></a>
            </form>
            
        </div>
    </div>
}
