@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(article: DeckArticle,token: com.fasterxml.jackson.databind.JsonNode,author: List[User])

@import helper._
@import com.fasterxml.jackson.databind.JsonNode
@main("Edit Deck - Fade2Karma") {
	@header()
	<div _ngcontent-c1="" class="F2K-column">
    	<div _ngcontent-c1="" class="clearfix featured" style="margin-bottom: 40px">
    	<br>
    		<h1 style="text-align:center;">Edit or create Deck</h1>
    		<br><br>
			<form action="/api/decks/edit" method="post">
			@CSRF.formField
			<div style="text-align:center">
			<input type="hidden" name="id" value="@if(article.id == null) {-1} else {@article.id}">
			<input type="hidden" name="rating" value="@if(article.rating == null) {0} else {@article.rating}">
			<select id="beep" name="author.id">
			@if(article.author !=null) {
    			@for(a <- author){
        			<option value="@a.id" @if(article.authorID == a.id) {selected}>@a.username</option>
    			}
    		} else {
    			   @for(a <- author){
        			<option value="@a.id" @if("Fade2Karma".equals(a.username)) {selected}>@a.username</option>
    			}
    		}
			</select><br><br>
			Title: <input name="title" value="@article.title"> <br><br>
	
			<select id="game" name="game">
				<option value="HS" @if(article.game == enums.General.Game.HS) {selected} >Hearthstone</option>
				<option value="GWENT" @if(article.game == enums.General.Game.GWENT) {selected}>Gwent</option>
			</select>
			<br><br>
			<div id="hscontent"/>
				<select name="heroCard.dbId" id="heroSelect" >
				<option value="-1" selected>Select HS HERO</option>
				<option value="7">Warrior</option>
				<option value="813">Priest</option>
				<option value="893">Warlock</option>
				<option value="1066">Shaman</option>
				<option value="31">Hunter</option>
				<option value="930">Rogue</option>
				<option value="671">Paladin</option>
				<option value="637">Mage</option>
				<option value="274">Druid</option>
			
			
				</select><br><br>
				Add card: <input id="newcHS" value=""> <button id="addHS" type="button">add</button><br><br>
				<ul id="cardListHS" style="width:100%; text-align:left; max-height:280px; column-count:3; -webkit-column-count:3; -moz-column-count:3;">
	
				</ul>
			
				<select name="mode" >
				<option value="CON" selected>Constructed</option>
				<option value="ARENA">Arena</option>
				<option value="BRAWL">Brawl</option>
				</select>
			</div>
			
			
			<br><br>
			
			<select name="tier" >
			<option value="0" selected>None (T0)</option>
			<option value="1">Tier 1</option>
			<option value="2">Tier 2</option>
			<option value="3">Tier 3</option>
			<option value="4">Tier 4</option>
			<option value="5">Tier 5</option>
			</select>
			<br><br>
            <textarea name="content" id="editor1" rows="10" >
                <p class="b1">@article.content</p>
            </textarea>

            </div>
            <input type="checkbox" name="updateTime" value="1">Update time stamp<br>
            <button name="published" value="0" type="submit">Preview (unpublishes)</button>
            <button name="published" value="1" type="submit">Submit</button>
            <a href="@controllers.UserController.MAINURL"><button type="button">Cancel</button></a>
            </form>
        </div>
    </div>
	<script>
		CKEDITOR.replace( 'editor1', {
		 extraAllowedContent: 'b i img'
		});
		var hslist = $("#cardListHS");
		var contentHS= $("#hscontent");
		var innerHS = contentHS.html();
		var buttonHS = $("#addHS");
		var innHS = $("#newcHS");
		var cardsHS = [];
		
		
		var addCardHS = function(card) { 
			cardsHS.push(card.actualVal);
			return '<li >' + 
					card.label + '<button type="button" style="left: 10px;">delete</button></li>' ;
			
		};
		
		
	
		var sourceHS = @Html(token.toString());
		innHS.autocomplete({
		    source: sourceHS,
		    minLength: 2,
			select: function(e,ui) {
				var f = ui.item.value;
				var j = sourceHS.length;
				for (var i =0; i< j; i++) {
					if (sourceHS[i].label == f) {
						hslist.append(addCardHS(sourceHS[i]));
						break;
					}
				}
				innHS.val("");
				e.preventDefault();
			}
		});
		
		hslist.on("click", "li > button", function() {
	 				var i = $(this).parent().index();
	 				$(this).parent().remove();
	 				cardsHS.splice(i,1);
		});
		
	
		
		$("form").submit(function(e) {
		  for (var i= 0; i < cardsHS.length; i++) {
		   $(this).append('<input type="hidden" name="cards[' + i + '].dbId" value="' +cardsHS[i] + '">' );
		  }
		});
		

		
		$("#heroSelect").change(function () {
        	var filter = $("#heroSelect  option:selected").text().toUpperCase();
        	
        		var newSource = sourceHS.filter(function(elem) {
        	   		return (filter == "SELECT HERO") || elem.hero == "NEUTRAL" || elem.hero == filter;
        	   		
        		});
        		
        	innHS.autocomplete('option', 'source', newSource);
        	
    	});
    	
    	
    	@if(article != null) {
			@if(article.heroCard != null) {
				$("#heroSelect").val("@article.heroCard.dbId");
				$("#heroSelect").trigger('change');
			}
			@if(article.cards != null) {

				@for(card <- article.cards) {
					card = {};
					card.label = "@card.name";
					card.actualVal = @card.dbId;
					hslist.append(addCardHS(card));
				}
			}
		}
		
	</script>
		<style>
		#cardListHS > li {
		 height: 25px;
		 border-right: 3px ridge;
		}
		#cardListHS > li	 > button {
			float:right;
			margin-right:20px;
			margin-top:2px;
		}
		</style>
}
